@import "macchiato.css";

/**
* Custom styling for a catppuccin style waybar
* Config settings listed in order from left -> right on bar
* */

/**
* Global configuration for theme 
* */
* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif,pso_font;
  font-size: 15px;
  border-radius: 0.75em;
}
window#waybar {
  border: 2px solid @surface1;
  background: @theme_base_color;
  box-shadow: 1px 1px 10px 10px @mantle;
  color: @theme_text_color;
  transition-property: background-color;
  transition-duration: 0.5s;
}
window#waybar.hidden {
  opacity: 0.2;
}
tooltip {
  background: @base;
  border: 1px solid @blue;
}
tooltip label {
  color: white;
}
label:focus {
  background-color: #000000;
}
button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* Remove border from parent waybar */
box {
  border: none;
}

/* Primary monitor configuration */
window.DP-2,


/* Wlr/workspaces configuration  */

#workspaces label {
  font-size: 15px;
}
#workspaces button {
  padding: 0 0.5em;
  background-color: @surface0;
  color: @text;
  margin: 0.25em;
}
#workspaces button.active {
  /* background-color: @surface2; */
  color: @blue;
}
#workspaces button.urgent {
  background-color: @red;
  color: @text;
}

/* Add spacing for right side modules */
#custom-dunst,
#custom-wayves,
#notifications,
#workspaces, 
#window,
#workspaces,
#taskbar,
#user,
#keyboard-state,
#taskbar,
#mpd,
#custom-beats,
#custom-notification,
#custom-updates,
#custom-github,
#custom-cpu_readout,
#custom-gpu_readout,
#custom-ram_readout,
#custom-weather,
#idle_inhibitor,
#wireplumber,
#battery,
#cpu,
#memory,
#temperature,
#disk,
#network,
#idle_inhibitor,
#mpris,
#tray,
#cpu, 
#memory,
#custom-pipewire,
#temperature,
#custom-github,
#custom-updates,
#custom-pipewire.muted,
#pulseaudio.muted, 
#pulseaudio,
#keyboard-state, 
#clock,
#custom-separator-left, 
#custom-separator-right {
  padding: 0 0.5em;
  margin: 0.005em;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
  background-color: @surface0;
  border: 2px solid @surface1;  
}
#custom-updates.updated {
  padding-left: 0;
  padding-right: 1em;
}
#custom-updates {
  color: @red;
}
#user {
  color: @blue;
}
#network.disconnected {
  background-color: #f53c3c;
}
#temperature.critical {
  background-color: #eb4d4b;
}
#keyboard-state > label {
  padding: 0 5px;
}
#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}
/* Custom styling for the logout icon on end */
#custom-wlogout {
  font-size: 1.75em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  color: @blue;
}
@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}
